@amplify:registry=https://nexus.irian.at/content/repositories/amplify-npm/
@irian:registry=https://nexus.irian.at/content/repositories/irian-npm/
@irian-ro:registry=https://nexus.irian.at/content/repositories/irian-ro-npm/

