<p-toolbar styleClass="primary">
    <div class="ui-toolbar-group-left">
        <h1>
            Welcome to {{title}}!
        </h1>
    </div>

    <div class="ui-toolbar-group-right">
        <button pButton type="button" routerLink="/" label="Home"></button>
        <button pButton type="button" routerLink="/login" label="Login"></button>
        <button pButton type="button" routerLink="/register" label="Register"></button>
    </div>
</p-toolbar>


<div class="m-lg">
    <router-outlet></router-outlet>
</div>